<ng-container [formGroup]="form">

    <div class="mb-2">
        <app-input
                [id]="'name'"
                icon="uil uil-bag"
                placeholder="Nombre"
                type="text"
                [tabIndex]="1"
                [controlGroup]="getForm()"
                [controlName]="'name'"
                [invalid]="validate(getForm(), 'name')"
                [invalidHelp]="'Ingresa un nombre para el producto'"
        >
        </app-input>
    </div>

    <div class="mb-2">
        <app-input
                [id]="'referencia'"
                icon="uil uil-tag-alt"
                placeholder="Referencia"
                type="text"
                [tabIndex]="2"
                [controlGroup]="getForm()"
                [controlName]="'reference'"
                [invalid]="validate(getForm(), 'reference')"
                [invalidHelp]="'Ingresa una referencia válida para el producto'"
        >
        </app-input>
    </div>

</ng-container>
