@import "~src/assets/scss/abstract/variables";

.search {

  position: relative;
  padding: 5px;

  &__holder {
    border-radius: $radius-default;
    padding: 15px 15px 15px 45px;
    transition: $transition-default all;
    position: relative;
    z-index: 300;

    &--active {
      background-color: darken($color-white, 5%);
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: $transition-default;

    &:hover {
      color: $color-primary;
    }

  }

  &__input {

    border: none;
    margin: 0;
    background-color: transparent;

    &::placeholder {
      font-family: $font-headings;
    }

    &:focus, &:focus-visible {
      outline: none;
    }

  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-white;
    box-shadow: $shadow-basic;
    border-radius: $radius-default;
    width: 100%;
    max-height: 0;
    z-index: 30;
    transition: $transition-default max-height;

    &--active {
      max-height: 300px;
    }

  }

}