<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="my-2">
        <app-input
                [id]="'email'"
                placeholder="nombre@micorreo.com"
                controlName="email"
                [controlGroup]="loginForm"
                [invalid]="validate(loginForm, 'email')"
                label="Correo electrónico"
                type="email"
        >
        </app-input>
    </div>
    <div class="my-2">
        <app-input
                [id]="'password'"
                placeholder="Ingresa tu contraseña"
                controlName="password"
                [controlGroup]="loginForm"
                [invalid]="validate(loginForm, 'password')"
                label="Contraseña"
                type="password"
        >
        </app-input>
    </div>

    <button class="btn btn-primary btn-padded w-100 my-2">Iniciar sesión</button>

</form>