<section class="avatar-update">

    <div class="avatar-update__image">
        <img src="../../../../../../assets/img/placeholder.png" alt="Avatar update">
    </div>

    <div class="avatar-update__content">

        <div class="avatar-update__actions">
            <button class="btn btn-primary btn-rounded">Subir Imagen</button>
            <button class="btn btn-grey btn-rounded">Eliminar Avatar</button>
        </div>

        <span>Este avatar te identificará con los demás usuarios.</span>

    </div>

</section>