@import "../../../../../../assets/scss/abstract/variables";
@import "../../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../../node_modules/bootstrap/scss/mixins";

.breadcrumb {
  background-color: $color-primary;
  border-radius: $radius-default;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: $color-white;
  font-family: $font-headings;
  overflow: hidden;
  padding: 30px;

  & p {
    width: auto;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      width: 300px;
    }

    @include media-breakpoint-up(xl) {
      width: 400px;
    }

  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    padding: 64px 64px 76px;
  }

  @include media-breakpoint-up(xl) {
    align-items: start;
    flex-direction: column;
  }

  &__image {

    width: 60%;
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(md) {
      width: 130px;
    }


    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 100px;
      right: 90px;
      width: 380px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xxl) {
      top: 40px;
      width: 400px;
    }

  }

  & h1 {
    font-weight: 600;
  }

  & p {
    font-size: 15px;
  }

}