<aside class="sidebar">
    <section>
        <div class="mb-4 mb-lg-5 sidebar__logo">
            <app-logo [width]="150"></app-logo>
        </div>
        <section [style]="'height: calc(' + getRelativeHeight() +'vh - ' + getDiscountablePixels() + 'px)'">
            <ng-scrollbar visibility="hover">
                <section style="padding: 0 15px">
                    <app-menu></app-menu>
                </section>
            </ng-scrollbar>
        </section>
        <section class="d-lg-none mx-4">
            <app-logo [width]="150"></app-logo>
        </section>
    </section>
    <section class="sidebar__profile">
        <div class="sidebar__indicator">
            <app-profile-menu
                    [active]="profileExpanded"
            ></app-profile-menu>
        </div>
        <app-profile-indicator
                [active]="profileExpanded"
                (clickAction)="switchStatus()"
        ></app-profile-indicator>
    </section>
</aside>