@import "~src/assets/scss/abstract/variables";
@import "~bootstrap/scss/bootstrap";

.sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 1px solid $color-grey-light;
  background-color: white;
  z-index: 50;
  position: sticky;
  padding: 20px 0;

  @include media-breakpoint-up(lg) {
    padding: 40px 20px;
  }

  & app-logo {
    margin-left: 15px;
  }

  &__indicator {
    position: absolute;
    bottom: 65px;
    right: 0;
    width: 100%;
  }

  &__logo {
    display: none;
    align-items: center;
    padding: 20px 15px;

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: inherit;
    }

  }

  &__profile {

    display: none;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: inherit;
    }

    & app-profile-indicator {
      width: 100%;
    }
  }

}