<ng-template #modal let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="text-center mx-4 mb-4">
            <img [src]="image" [alt]="alt" class="w-50 mb-3">
            <h3>{{title}}</h3>
            <div [innerHTML]="content"></div>
            <section>
                <ng-content></ng-content>
                <button
                        class="mx-3"
                        [class]="firstClass"
                        (click)="firstClickAction.emit()"
                >{{firstButton}}</button>
                <button
                        class="mx-3"
                        [class]="secondClass"
                        (click)="secondClickAction.emit()"
                >{{secondButton}}</button>
            </section>
        </div>
    </div>
</ng-template>