$color-primary: #31355d;
$color-accent: #ed6f96;

$color-grey-lighter: #f8f7f7;
$color-grey-light: #ebecf0;
$color-grey-medium: #b9bAbf;
$color-grey-dark: #737486;

$color-navy-blue: #007bff;

$color-white: #ffffff;

$radius-default: 15px;
$transition-default: .3s;