$color-primary: #31355d;
$color-accent: #ed6f96;

$color-grey-lighter: #f8f7f7;
$color-grey-light: #ebecf0;
$color-grey-medium: #b9bAbf;
$color-grey-dark: #737486;

$color-navy-blue: #007bff;
$color-orange: #ff754c;

$color-white: #ffffff;
$color-black: #000000;

$radius-default: 15px;
$transition-default: .3s;

$font-headings: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

$shadow-basic: 0 5px 10px rgb(227 230 236 / 60%);