<div class="mb-4">
    <app-breadcrumb
            title="Usuarios"
            sub="Crea un usuario en la plataforma. Este usuario podrá acceder con usuario y contraseña a las funciones que asignes."
            button="¿No es lo que buscas?"
            (clickAction)="openCreateHelp()"
    ></app-breadcrumb>
</div>
<div class="card">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <app-input
                        [id]="'name'"
                        label="Nombres"
                        [tabIndex]="1"
                        placeholder="Ej: Alejandro"
                ></app-input>
            </div>
            <div class="mb-3">
                <app-input
                        [id]="'surname'"
                        label="Apellidos"
                        [tabIndex]="2"
                        placeholder="Ej: Mejia Villa"
                ></app-input>
            </div>
            <div class="mb-3">
                <app-input
                        [id]="'email'"
                        label="Correo electrónico"
                        [tabIndex]="3"
                        placeholder="Ej: tucorreo@midominio.com"
                        help="* Se enviará un email para verificar la identidad de la cuenta."
                ></app-input>
            </div>
            <div class="mb-3">
                <label for="phone" class="input__label input__label--simple">Teléfono</label>
                <ngx-intl-tel-input
                        [cssClass]="'phone-selector'"
                        [preferredCountries]="[CountryISO.Colombia]"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [maxLength]="15"
                        [phoneValidation]="true"
                        [inputId]="'phone'"
                        [tabindex]="4"
                        name="phone"
                        id="phone"
                ></ngx-intl-tel-input>
                <span class="help">*Se enviará un SMS para verificar la identidad de la cuenta.</span>
            </div>

        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label for="roles" class="input__label input__label--simple">Roles</label>
                <ng-select [items]="groupMock"
                           id="roles"
                           bindLabel="name"
                           bindValue="id"
                           [tabIndex]="5"
                           [multiple]="true"
                           placeholder="Seleccionar roles"
                           labelForId="id"
                           [virtualScroll]="true"
                >
                </ng-select>
            </div>
            <div class="mb-3">
                <div class="input__label input__label--simple">Avatar</div>
                <app-avatar-update></app-avatar-update>
            </div>
            <div class="my-4">
                <p>
                    <span class="badge rounded-pill bg-dark">Recuerda:</span>
                    <span class="help">El usuario recibirá un correo electrónico para terminar de crear su cuenta, donde deberá verificar su número de teléfono y correo electrónico durante las próximas 48 horas, de lo contrario, su invitación será revocada.</span>
                </p>
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-primary btn-padded" (click)="openCreateConfirm()">Crear usuario</button>
            </div>
        </div>
    </div>
</div>

<app-user-creation-help #createHelpModal></app-user-creation-help>
<app-user-creation-confirm #createConfirmModal></app-user-creation-confirm>