<ng-container [formGroup]="getForm()">

    <!-- Breakdown basic input -->

    <section class="col-12 col-lg-2 my-2 m-lg-0">
        <app-input
                [id]="'area'"
                type="number"
                placeholder="Area"
                [standaloneHelp]="true"
                [controlGroup]="getForm()"
                [controlName]="'area'"
                [invalid]="validation.validate(getForm(), 'area')"
        >
        </app-input>
    </section>

    <section class="col-12 col-lg-3 my-2 m-lg-0">
        <app-input
                [id]="'mold'"
                type="string"
                placeholder="Moldura"
                [controlGroup]="getForm()"
                [controlName]="'mold'"
                [invalid]="validation.validate(getForm(), 'mold')"
                [standaloneHelp]="true"
        >
        </app-input>
    </section>

    <section class="col-12 col-lg-3 my-2 m-lg-0">
        <ng-select [items]="materials"
                   id="type"
                   bindLabel="name"
                   bindValue="id"
                   [searchable]="false"
                   [formGroup]="getForm()"
                   formControlName="material"
                   placeholder="Seleccionar"
        >
        </ng-select>
    </section>

    <!-- Breakdown consume indicators -->

    <section class="col-6 col-lg-1 d-flex align-items-center flex-column flex-lg-row my-3 my-lg-0">
        <h6 class="d-lg-none">Uso</h6>
        <p class="m-0">{{productHelper.getConsumeFromControl(breakdown, materials).consume | number : '1.3-3'}}</p>
    </section>

    <section class="col-6 col-lg-1 d-flex align-items-center flex-column flex-lg-row my-3 my-lg-0">
        <h6 class="d-lg-none">Costo</h6>
        <p class="m-0">
            {{productHelper.getConsumeFromControl(breakdown, materials).cost | currency :'USD' : 'symbol' : '1.0-0'}}
        </p>
    </section>

    <!-- Breakdown basic controls -->

    <div class="col-12 col-lg-2 d-flex justify-content-center">
        <app-icon-actionable
                icon="uil uil-trash"
                [disabled]="formHelper.getArrayFromControl(breakdownGroup.controls['breakdowns']).controls.length < 2"
                (clickAction)="emitRemovalEvent()"
        ></app-icon-actionable>
    </div>

    {{getErrors()}}

</ng-container>
