<article class="table-card">

    <div class="row">

        <div class="col-12 col-lg-6">

            <div class="table-card__details">
                <div class="table-card__tick">
                    <app-checkbox (checkChange)="updateCheck($event)" [active]="material.selected"></app-checkbox>
                </div>
                <div class="table-card__main mx-4">
                    <div class="table-card__name">
                        <h6>{{material.name}}</h6>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 col-lg-3 ">
            <div class="table-card__indicator">
                <span class="d-xl-none">Precio</span>
                <p>{{material.price | currency : 'COP' : '$ ' : '3.0' }}</p>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="table-card__indicator">
                <span class="d-xl-none">Medida</span>
                <p>{{material.measurable ? 'Unitario' : material.length}}</p>
            </div>
        </div>
    </div>

</article>