@import "~src/assets/scss/abstract/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.main {

  &__sidebar {

    position: fixed;
    bottom: 0;
    left: -500px;
    height: calc(100vh - 45px);
    transition: $transition-default all;
    width: 80vw;

    &--active {
      left: 0;
    }


    @include media-breakpoint-up(sm) {
      width: 30vw;
    }

    @include media-breakpoint-up(lg) {
      position: sticky;
      height: 100vh;
      width: auto;
      top: 0;
      left: 0;
    }
  }

}

/*

.main {

  @include media-breakpoint-up(lg) {
    overflow: inherit;
  }

  &__sidebar {

    width: 80vw;
    position: sticky;
    bottom: 0;
    left: -500px;
    height: calc(100vh - 80px);



    @include media-breakpoint-up(sm) {
      width: 40vw;
    }

    @include media-breakpoint-up(lg) {
      top: 0;
      left: 0;
      height: 100vh;
      width: 25vw;
    }

    @include media-breakpoint-up(xl) {
      width: 20vw;
    }

    @include media-breakpoint-up(xxl) {
      width: 300px;
    }

  }

  &__content {

    width: 100vw;
    //margin-top: 80px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-left: 25vw;
      width: 75vw;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 0;
      margin-left: 20vw;
      width: 80vw;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 0;
      margin-left: 300px;
      width: calc(100vw - 300px);
    }

  }

  &__wrapper {

    @include media-breakpoint-up(lg) {
      max-width: 1200px;
      margin: auto;
    }

  }

}
 */