<main class="main">
    <app-responsive-header (change)="switchActive()" [active]="active"></app-responsive-header>
    <div class="main__sidebar" [class.main__sidebar--active]="active">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main__content">
        <section style="width: 1px; height: 1px;" class="d-lg-none"></section>
        <div class="container">
            <div class="my-3 my-lg-5 mx-2 p-md-5">
                <app-header></app-header>
            </div>
        </div>
    </div>
</main>
