@import "~src/assets/scss/abstract/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.layout {

  display: flex;

  &__sidebar {

    width: 0;

    @include media-breakpoint-up(lg) {
      width: 30vw;
    }

    @include media-breakpoint-up(xl) {
      width: 20vw;
    }

    @include media-breakpoint-up(xxl) {
      width: 300px;
    }

  }

  &__sidebar-inner {

    position: fixed;
    bottom: 0;
    left: -100%;
    height: calc(100vh - 45px);
    transition: $transition-base;
    width: 80%;

    &--active {
      left: 0;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      position: sticky;
      top: 0;
      left: 0;
      width: auto;
      height: 100vh;
    }

  }

  &__content {

    width: 100vw;
    margin-top: 80px;

    @include media-breakpoint-up(lg) {
      width: 70vw;
      margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
      width: 80vw;
      margin-top: 0;
    }

    @include media-breakpoint-up(xxl) {
      width: calc(100vw - 300px);
    }


  }

}