<app-responsive-header (change)="switchActive()" [headerActive]="active"></app-responsive-header>

<div class="layout">
    <aside class="layout__sidebar">
        <div class="layout__sidebar-inner" [class.layout__sidebar-inner--active]="active">
            <app-sidebar></app-sidebar>
        </div>
    </aside>
    <div class="layout__content">
        <div class="container">
            <div class="my-3 my-lg-5 mx-2 p-md-5">
                <div class="mb-5">
                    <app-header></app-header>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
