<div class="user-filters">
    <div class="user-filters__search">
        <app-input
                type="text"
                placeholder="Buscar"
                icon="uil uil-search"
        ></app-input>
    </div>
    <section class="user-filters__actions">
        <section class="user-filters__checkbox">
            <app-checkbox></app-checkbox>
        </section>
        <div class="user-filters__control">
            <div class="mx-3">
                <app-icon-actionable [icon]="'uil uil-pen'"></app-icon-actionable>
            </div>
            <div class="mx-3">
                <app-icon-actionable [icon]="'uil uil-trash'" (clickAction)="deleteAction.emit()"></app-icon-actionable>
            </div>
        </div>
    </section>
</div>