<label
        *ngIf="label !== ''"
        class="input__label"
        [class.input__label--simple]="icon === ''"
        [for]="id"
>{{label}}</label>

<div class="input" [formGroup]="controlGroup!" [class.input--focus]="focus"
     [class.input--invalid]="invalid" [class.input--simple]="icon === ''">
    <div class="input__icon">
        <i *ngIf="icon !== ''" [class]="icon" [class.input__icon--focus]="focus"></i>
    </div>
    <input
            [id]="id"
            class="input__field"
            [tabindex]="tabIndex"
            [type]="type"
            [placeholder]="placeholder"
            [formControlName]="controlName"
            (focusin)="focus = true" (focusout)="focus = false"
    >
</div>

<span *ngIf="!standaloneHelp" class="help" [class.help--invalid]="invalid">{{invalid ? invalidHelp : help}}</span>