@import "../../../../../../assets/scss/abstract/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.input {

  position: relative;
  background-color: darken($color-white, 3%);
  padding-left: 45px;
  border-radius: $radius-default;
  border: 2px solid transparent;
  transition: $transition-default;

  &__label {

    padding-left: 45px;
    margin-bottom: 10px;
    font-size: 14px;
    color: $color-grey-dark;

    &--simple {
      padding-left: 10px;
    }

  }

  &--simple {
    padding-left: 10px;
  }

  &--focus {
    background-color: white;
    border-color: $color-primary;
  }

  &--invalid {
    border-color: $red;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    transition: $transition-default;

    &:hover, &--focus {
      color: $color-primary;
    }

  }

  &__field {

    border: none;
    margin: 0;
    background-color: transparent;
    width: 100%;
    padding: 15px 15px 15px 0;

    &::placeholder {
      font-family: $font-headings;
      color: $color-grey-dark;
    }

    &:focus, &:focus-visible {
      outline: none;
    }

  }

}