@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.group-card {

  &__color {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 300px;
  }

}