<app-info-modal
    #userDeleteModal
    image="assets/img/delete.png"
    alt="Contact help"
    title="Eliminar Usuario"
    firstButton="Cancelar eliminación"
    firstClass="btn btn-danger btn-rounded"
    (firstClickAction)="userDeleteModal.close()"
    secondButton="Eliminar Usuario"
    secondClass="btn btn-grey btn-rounded"
    (secondClickAction)="confirmDelete()"
>
    <p><strong>Nombre</strong> no será eliminado completamente, pero si desaparecerá de todos los resultados de búsqueda y su acceso a la cuenta será desactivado.</p>
    <p>
        Nosotros no eliminamos completamente sus datos para poder llevar un registro correspondiente de las acciones realizadas por su perfil.
    </p>
    <div class="mb-4">
        <span class="help"><span class="badge rounded-pill bg-danger">Cuidado:</span> Esta acción es irrevocable y su cuenta no se podrá volver a activar.</span>
    </div>
</app-info-modal>