@import "~bootstrap/scss/bootstrap";

.main {

  display: flex;

  &__sidebar {

    width: 100vw;

    @include media-breakpoint-up(lg) {
      width: 25vw;
    }

    @include media-breakpoint-up(xl) {
      width: 20vw;
    }

    @include media-breakpoint-up(xxl) {
      width: 300px;
    }

  }

  &__content {
    width: 80vw;
  }

}