@import "~src/assets/scss/abstract/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.breakdown-info {

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $radius-default;
  background-color: darken($color-white, 3%);
  padding: 15px 25px;

  & h6 {
    margin: 0;
    font-size: 18px;
  }

}