@import "../../../../../../assets/scss/abstract/variables";

.profile-indicator {

  cursor: pointer;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 10px;
  transition: $transition-default;
  border-radius: $radius-default;

  &:hover, &--active {

    background-color: $color-navy-blue;
    color: $color-white;

    & span, h6 {
      color: $color-white !important;
    }

  }

  & h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  & span {
    color: $color-grey-dark;
    transition: $transition-default;
  }

  & i {
    font-size: 30px;
  }


  & img {
    width: 40px;
  }

}