<article class="user-card">

    <div class="row">

        <div class="col-12 col-lg-6">

            <div class="user-card__main">
                <div class="user-card__tick">
                    <app-checkbox></app-checkbox>
                </div>
                <div class="user-card__slug">
                    <img src="assets/img/placeholder.png" alt="">
                    <div class="user-card__name">
                        <h6>Ian Felipe</h6>
                        <span>Castaño Martinez</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-2 gx-0 gx-md-2 mb-3 mb-lg-0">
            <div class="d-flex align-items-center h-100">
                <div class="user-card__rank">
                    <div class="user-card__color">a</div>
                    <p class="user-card__group">Administrador</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-2 gx-0 gx-md-2">
            <div class="d-flex align-items-center h-100">
                <div class="user-card__indicator">
                    <span class="d-lg-none">Creado en</span>
                    <p>24/05/2022</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-2 gx-0 gx-md-2">
            <div class="d-flex align-items-center h-100">
                <div class="user-card__indicator text-end">
                    <span class="d-lg-none">Última conexión</span>
                    <p>22/05/2021</p>
                </div>
            </div>
        </div>

    </div>


</article>