<app-info-modal
    #userCreationConfirmModal
    image="assets/img/alert.png"
    alt="Contact help"
    title="Confirmar Creación"
    firstButton="Corregir datos"
    firstClass="btn btn-grey btn-rounded"
    (firstClickAction)="userCreationConfirmModal.close()"
    secondButton="Confirmar creación"
    secondClass="btn btn-primary btn-rounded"
    (secondClickAction)="create()"
>
    <p><strong>Nombre</strong> recibirá instrucciones en el correo electrónico para terminar de crear su cuenta.</p>
    <p>
        Verifica dos veces si el correo electrónico y el número de teléfono son correctos, de lo contrario, <strong>nombre</strong> no podrá crear su cuenta y deberás enviarle un nuevo código.
    </p>
    <div class="mb-4">
        <span class="help"><span class="badge rounded-pill bg-danger">No hay problema:</span> Si te equivocas o necesitas cambiar los datos podrás revocar su invitación después desde la lista de usuarios.</span>
    </div>
</app-info-modal>