<ng-template #userCreationConfirmModal let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="text-center mx-4 mb-4">
            <img src="assets/img/alert.png" alt="Contact Help" class="w-50 mb-3">
            <h3>Confirmar Creación</h3>
            <p><strong>Nombre</strong> recibirá instrucciones en el correo electrónico para terminar de crear su cuenta.</p>
            <p>
                Verifica dos veces si el correo electrónico y el número de teléfono son correctos, de lo contrario, <strong>nombre</strong> no podrá crear su cuenta y deberás enviarle un nuevo código.
            </p>
            <div class="mb-4">
                <span class="help"><span class="badge rounded-pill bg-danger">No hay problema:</span> Si te equivocas o necesitas cambiar los datos podrás revocar su invitación después desde la lista de usuarios.</span>
            </div>
            <section>
                <button class="btn btn-grey btn-rounded mx-3">Corregir datos</button>
                <a class="btn btn-primary btn-rounded mx-3" routerLink="/contacts/create">Confirmar creación</a>
            </section>
        </div>
    </div>
</ng-template>