<ng-container [formGroup]="getForm()">

    <!-- Labor basic input -->

    <section class="col-12 col-lg-3 my-2 m-lg-0">
        <app-input
                [id]="'name'"
                type="string"
                placeholder="Nombre"
                [standaloneHelp]="true"
                [controlGroup]="getForm()"
                [controlName]="'name'"
                [invalid]="validation.validate(getForm(), 'name')"
        ></app-input>
    </section>

    <section class="col-12 col-lg-3 my-2 m-lg-0">
        <app-input
                [id]="'price'"
                type="number"
                placeholder="Precio"
                [standaloneHelp]="true"
                [controlGroup]="getForm()"
                [controlName]="'price'"
                [invalid]="validation.validate(getForm(), 'price')"
        ></app-input>
    </section>

    <!-- Labor basic controls -->

    <div class="col-12 col-lg-2 d-flex justify-content-center my-2 mg-lg-0">
        <app-icon-actionable
                icon="uil uil-trash"
                [disabled]="formHelper.getArrayFromControl(labor).controls.length < 2"
                (clickAction)="emitRemovalEvent()"
        ></app-icon-actionable>
    </div>

    {{getErrors()}}

</ng-container>
