<div class="product-sheet">

    <section class="product-sheet__header">

        <section class="product-sheet__reference">

            <app-logo></app-logo>

            <h6>Ficha de costos</h6>

            <ul>
                <li><strong>Referencia:</strong> Andy Gris</li>
                <li><strong>Cantidad:</strong> 120</li>
                <li><strong>Remisión:</strong> 115</li>
            </ul>

        </section>

        <section class="product-sheet__costs">

            <h6>17 de abril de 2022</h6>

            <ul>
                <li><strong>Referencia:</strong> Andy Gris</li>
                <li><strong>Cantidad:</strong> 120</li>
                <li><strong>Remisión:</strong> 115</li>
            </ul>

        </section>

    </section>

    <article class="product-sheet__breakdown">

        <h6>Materiales sintéticos</h6>

        <div class="product-sheet__breakdown-header">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-3"></div>
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-2"></div>
            </div>
        </div>

        <div class="product-sheet__breakdown-content">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-3"></div>
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-2"></div>
            </div>
        </div>

    </article>

    <article class="product-sheet__labor">

        <div class="product-sheet__labor-header">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-2"></div>
            </div>
        </div>

        <div class="product-sheet__labor-content">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-2"></div>
            </div>
        </div>

    </article>

</div>