<div class="mb-4">
    <app-breadcrumb
            title="Contactos"
            sub="Lista de contactos que sirve como referencia para distintas partes de la aplicación."
            button="Crear contacto"
    ></app-breadcrumb>
</div>
<div class="card">
    <app-table-filters (deleteAction)="deleteConfirm.open()"></app-table-filters>
    <div class="margin-grey" *ngFor="let item of [1,2,3]">
        PANAS
    </div>
    <div class="d-flex mt-4 justify-content-center">
        <button class="btn btn-negative btn-padded">Cargar más...</button>
    </div>
</div>

<app-modal-confirm #deleteConfirm></app-modal-confirm>