<div class="mb-4">
    <app-breadcrumb
            title="Productos"
            sub="Visualiza %product_name% y genera una ficha técnica para su uso."
    ></app-breadcrumb>
</div>

<div class="card">

    <div class="row">

        <div class="col-12 col-lg-4">
            <app-product-info></app-product-info>
        </div>

        <div class="col-12 col-lg-8">

            <div class="p-0 px-lg-5">
                <section style="height: 300px;" class="mb-2">
                    <ng-scrollbar visibility="hover">
                        <div *ngFor="let i of [1,2,3,4,5,6,7]" class="mb-4 mt-3 mt-lg-0">
                            <app-breakdown-info></app-breakdown-info>
                        </div>
                    </ng-scrollbar>
                </section>
                <div class="d-flex justify-content-end flex-column flex-xl-row">
                    <button
                            type="submit"
                            class="btn btn-negative btn-padded h-auto mx-3 mb-3 mb-xl-0"
                    >
                        <i class="uil uil-folder-download"></i>
                        Descargar archivos
                    </button>
                    <button
                            type="submit"
                            class="btn btn-primary btn-padded h-auto mx-3"
                            (click)="generateModal.open()"
                    >
                        <i class="uil uil-download-alt"></i>
                        Descargar ficha técnica
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<app-generate-product-modal #generateModal></app-generate-product-modal>