@import "~src/assets/scss/abstract/variables";

.switch {

  width: 100%;
  border-radius: $radius-default;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  color: $color-grey-dark;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: $transition-default all;

  &:hover {
    background-color: darken($color-white, 3%);
  }

  &--active {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary;
    }

  }

  & i {
    font-size: 25px;
    margin-right: 20px;
  }

}