<article class="table-card">

    <div class="row">

        <div class="col-12 col-lg-6">

            <div class="table-card__details">
                <div class="table-card__tick">
                    <app-checkbox></app-checkbox>
                </div>
                <div class="table-card__main">
                    <img src="assets/img/placeholder.png" alt="">
                    <div class="table-card__name">
                        <h6>Ian Felipe</h6>
                        <span>Castaño Martinez</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 col-lg-3 ">
            <div class="table-card__indicator">
                <span class="d-xl-none">Documento</span>
                <p>1.192.111.111</p>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="table-card__indicator">
                <span class="d-xl-none">Teléfono</span>
                <p>305 700 1010</p>
            </div>
        </div>
    </div>

</article>